.container {
    width: 252px;
    height: 78px;
    background: #007AFF;
    border-radius: 10px;
    box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.37),
    inset 3px 1px 15px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.text {

}
.text p {
    font-family: "Open Sans", sans-serif;
    font-weight: 350;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .container {
        width: 165px;
        height: 43px;
    }
    .text {

    }
    .text p {
        font-size: 14px;
    }
}