.container {
    position: relative;
    width: 400px;
    height: 700px;
}
.title {
    width: 100%;
    text-align: center;
}
.title h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.innerContainer {
    width: 90%;
    height: 95%;
    margin: 20px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.innerContainer::-webkit-scrollbar {
    width: 7px;
    background: #B9C1D0;
    border-radius: 20px;
}
.innerContainer::-webkit-scrollbar-thumb {
    width: 7px;
    background: linear-gradient(315deg, #FF4646 0%, #FFAA5B 100%);
    box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.37), inset 3px 1px 15px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}