.container {
    width: 84px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C9D7EE;
    border-radius: 18px;
}
.container h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7D7D7D;
}