.container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #C9D7EE;
    background: #fff;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.img {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100px;
    height: 97%;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2))
}
.img img {
    position: relative;
    left: -30px;
    width: 100%;
}
.info {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.info h3, .info h5 {
    font-family: "Segoe UI",sans-serif;
    font-size: 20px;
    color: #2D4191;
}
.info h3 {
    font-weight: 600;
}
.info h5 {
    position: relative;
    left: 20px;
    font-weight: 350;
}

.lock {
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 500px) {
    .container {

    }
    .img {

    }
    .img img {

    }
    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info h3, .info h5 {

    }
    .info h3 {

    }
    .info h5 {
        left: 0;
        font-size: 15px;
    }

    .lock {

    }
}