.stageContainer {
    position: relative;
    width: 90%;
    height: 83px;
    background: #fff;
    border: 1px solid #C9D7EE;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
}
.img {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: -25px;
    height: 99%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 63px;
}

.stageDescr {
    position: relative;
    left: -10px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.stageDescr h3,.stageDescr h5  {
    font-family: "Segoe UI", sans-serif;
    color:#2D4191;
}
.stageDescr h3 {
    font-weight: 600;
    font-size:  20px;
}
.stageDescr h5 {
    font-weight: 350;
    font-size: 15px;
    position: relative;
    left: 10px;
}
.stageInfo {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 10px;
}

.inProcess {
    animation-name: spin_right_round;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes spin_right_round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    .stageContainer {
        margin-bottom: 10px;
    }
    .img {

    }
    .img img {
        width: 80px;
    }

    .stageDescr {
        flex-direction: column;
        align-items: center;
    }
    .stageDescr h3,.stageDescr h5  {
        font-size: 1rem;
    }
    .stageDescr h3 {

    }
    .stageDescr h5 {

    }
    .stageInfo {

    }
}